html, body, div {
    margin: 0;
    padding: 0;
  }


#navigation {
    position: fixed;
    background-color: orange;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    z-index: 2;
}

#navigation p {
    float: left;
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

#navigation a {
 float: right;
 text-decoration: none;
 color: white;
 padding-right: 10px;
 padding-top: 20px;
}

body {
    background-color: rgb(255, 254, 241);
}

#information {
    position: absolute;
    padding: 20px;
    margin: 80px auto;
}

.box {
    border:2px solid orange;
    width: 300px;
    padding: 20px;
    margin: 20px 10px;
    background-color: white;
    float: left;
}

.buttonpress {
    background-color: orange;
    width: 300px;
    font-size: 20px;
    border: none;
    color: white;
    font-family:'Times New Roman', Times, serif;
}